html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font: 30px Helvetica, sans-serif;
  /* color: #333; */
  color: whitesmoke;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 60px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* height: 100vh; */
}

.square {
  width: 100px;
  height: 100px;
  background: #fff;
  border: 1px solid #999;
  font-size: 34px;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
  padding: 0;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 2px;
}

.game-board {
  margin-bottom: 0;
}

.status {
  margin-bottom: 35px;
  margin-top: 35px;
}
