html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font: 30px Helvetica, sans-serif;
  color: whitesmoke;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

h1 {
  font-size: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.player-choice {
  padding-top: 30px;
}

.player-choice > h2 {
  margin-bottom: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.square {
  width: 100px;
  height: 100px;
  background: whitesmoke;
  border: 1px solid #999;
  font-size: 34px;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
  padding: 0;
  margin: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.square:hover {
  transform: scale(1.05);
}

.square:active {
  transform: scale(0.95);
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
}

.game-board {
  margin-bottom: 0;
}

.status {
  margin-bottom: 35px;
  margin-top: 35px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.start-game {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  color: #0093e9;
  background-color: whitesmoke;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s;
}

.start-game:hover {
  background-color: #0093e9;
  color: whitesmoke;
  transform: scale(1.05);
}

.start-game:active {
  transform: scale(0.95);
}
